// // colors
// $primary: #0198d6;
// $tint: #80dafe;
// $shade: #015a7f;
// $dark: #001219;
// $light: #f5fcff;

// //
// $link-fontweight: 600;

.nav {
	display: flex;
	border-bottom: 2px solid #80dafe;
	.a {
		padding: 0; /* Remove padding */
		margin: 5px 20px;
		font-weight: 600;
	}
}
